.loader {
    border: 5px solid #c3c3c3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loading-btn-container{
     width: 100%;
     display: flex;
     justify-content: center;
     margin-top: 10px;
  }