.toast-container {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999999;
  padding: 30px;

}
.toast-container > div {
  background: #fff;
  padding: 20px;
  color: #6a6c6f;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
}
.toast-container .toast-warning {
  background: #fff;
  border-left: 6px solid #ffb606;
  padding-left: 35px;
}
.toast-container .toast-warning:after {
  content: "\f071";
  color: #ffb606;
  font-size: 24px;
}
.toast-container .toast-success {
  background: #fff;
  border-left: 6px solid #24c993;
  padding-left: 35px;
}
.toast-container .toast-success:after {
  content: "\f058";
  color: #24c993;
  font-size: 24px;
}
.toast-container .toast-error {
  background: #fff !important;
  border-left: 6px solid #e74c3c !important;
  padding-left: 35px;
}
.toast-container .toast-error:after {
  content: "\f071";
  color: #e74c3c;
  font-size: 22px;
}
.toast-container .toast-info {
  background: #fff;
  border-left: 6px solid #3498db;
  padding-left: 35px;
}
.toast-container .toast-info:after {
  content: "\f05a";
  color: #3498db;
  font-size: 26px;
}
.toast-container .toast-warning .toast-close-button,
.toast-container .toast-success .toast-close-button,
.toast-container .toast-error .toast-close-button,
.toast-container .toast-info .toast-close-button {
  display: inherit;
  opacity: 1;
  position: absolute;
  right: 15px;
  top: 15px;
  background: transparent;
  border: 0px;
}
.toast-container .toast-warning:after,
.toast-container .toast-success:after,
.toast-container .toast-error:after,
.toast-container .toast-info:after {
  font-family: FontAwesome;
  position: absolute;
  top: 30px;
  left: 7px;
}

.toast-error.hide {
  display: none;
}
.toast-info.hide {
  display: none;
}
.toast-warning.hide {
  display: none;
}
.toast-success.hide {
  display: none;
}

.toast-message-title.success {
  color: #24c993;
}
.toast-message-title.error {
  color: #e74c3c;
}
.toast-message-title.info {
  color: #3498db;
}
.toast-message-title.warning {
  color: #ffb606;
}
.toast-disabled {
  display: none;
}
.progressBar .percentagem {
  position:absolute;
  top:0;
  left:0;
  height:3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: #A4B5C0;
  -webkit-transition: 4s all;
  -webkit-animation-duration: 4s;
  -webkit-animation-name: animationProgress;
}
.percentagem.error {
  background: #e74c3c;
}
.percentagem.info {
  background: #3498db;
}
.percentagem.warning {
  background: #ffb606;
}
.percentagem.success {
  background: #24c993;
}

.toast-message-title {
  font-size: 14px;
  font-weight: 700;
}

.toast-message-content {
  font-size: 14px;
}

@-webkit-keyframes animationProgress {
  from {
      width:0;
  }
}
@keyframes animationProgress {
  from {
      width:0;
  }
}

