.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#content {
    width: 100%;
   
    min-height: 100vh;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
}


