.wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#content {
    display: flex;
    min-height: 90vh;
    transition: all 0.3s;
    flex-direction: column;
    width: calc(100vw - 270px);
    margin-left: 250px;
}
.layout-Container {
    min-height: 84vh;
}

div#content.active {
    margin-left: 0;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #content {
        margin-left: 0px;
        width: 100vw;
    }
   
}